day 2/day2.o
day 2/day2.exe
day 2/day2.hi
day 2/input.txt
day 1/input.txt
day 1/day1.o
day 1/day1.exe
day 1/day1.hi
day 3/day3.hi
day 3/day3.exe
day 3/day3.o
day 3/input.txt
day 4/input.txt
day 4/day4.o
day 4/day4.exe
day 4/day4.hi
day 5/input.txt
day 5/day5.exe
day 5/day5.hi
day 5/day5.o
day 6/input.txt
day 6/day6.exe
day 6/day6.hi
day 6/day6.o
